{% extends "base.html" %} {% block title %}Contact Us{% endblock %} {% block
content %}
<div
  style="
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
  "
>
  <h1 style="font-size: 2rem; color: #333; margin-bottom: 20px">Contact Us</h1>
  <table style="width: 100%; border-collapse: collapse; margin-top: 20px">
    <thead>
      <tr style="background-color: #007bff; color: #fff">
        <th style="padding: 10px; font-size: 1rem; border: 1px solid #ddd">
          Developer
        </th>
        <th style="padding: 10px; font-size: 1rem; border: 1px solid #ddd">
          Email
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: #f7f7f7">
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          El-mostafa Hisham
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #007bff;
          "
        >
          42210285.elmostafa@acu.edu.eg
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          Refaat Elia
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size:1rem;
            color: #007bff;
          "
        >
          42210261.refaat@acu.edu.eg
        </td>
      </tr>
      <tr style="background-color: #f7f7f7">
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          Abdelrahman Galal
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #007bff;
          "
        >
          42210281.abdelrahman@acu.edu.eg
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          Omar Ayman
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #007bff;
          "
        >
          42210208.omar@acu.edu.eg
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          Samuel Malak
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #007bff;
          "
        >
          42210275.samuel@acu.edu.eg
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          Ziad Mohamed
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #007bff;
          "
        >
          42210283.ziad@acu.edu.eg
        </td>
      </tr>
      <tr>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #555;
          "
        >
          Mario Wael
        </td>
        <td
          style="
            padding: 10px;
            border: 1px solid #ddd;
            font-size: 1rem;
            color: #007bff;
          "
        >
          42210288.mario@acu.edu.eg
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
